<div class="container">
  <h1>Sprinter - About the Devs</h1>
  <div class="row">
    <!---->
     <div class="col-6">
      <h2>Meet the Devs</h2>

    <div class="row">
      {{#each contributors}}
        <div class="col-6">
            <li>{{name}}</li>
            <li>{{github}}</li>
            <li>{{email}}</li>
            <li>{{avatar}}</li>
        </div>
      {{/each}}
    </div>
  </div>
  </div>