<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
</head>

<body>
    <div class="container blog">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a class="btn btn-light" href="/project">Project</a>
            </div>
            <div class="col-md-2 col-sm-2">
                <a class="btn btn-light" href="/employee">Manage Employee</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 project-container">
            </div>
        </div>
    </div>
    <!-- Custom Script -->
    <script src="js/dashboard.js" type="text/javascript"></script>

</body>

</html>