<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sprinter Log In</title>
		<link rel="icon"  href="css/favicon.ico"/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    
		<!-- Bootstrap core CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
			crossorigin="anonymous"
		/>
   
		<link href="css/login.css" rel="stylesheet" />
   
	</head>
 

	<body class="text-center">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header"></div>
			</div>
		</nav>
		<div class="container form-signin">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img class="mb-4" src="/running.jpg" alt="" width="72" height="57" />
					<h2>Login Form</h2>
					<form class="login">
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input
								type="email"
								class="form-control"
								id="email-input"
								placeholder="Email"
							/>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input
								type="password"
								class="form-control"
								id="password-input"
								placeholder="Password"
							/>
						</div>
						<button type="submit" class="btn btn-default">Login</button>
					</form>
					<br />
					<p>Or sign up <a href="/">here</a></p>
				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/login.js"></script>
	</body>
</html>
